[flake8]
ignore =
    E113,  # unexpected indentation
    E122,  # continuation line missing indentation or outdented
    E131,  # continuation line unaligned for hanging indent
    E225,  # missing whitespace around operator
    E251,  # unexpected spaces around keyword / parameter equals
    E402,  # module level import not at top of file
    E501,  # line too long (... > ... characters)
    E902,  # unindent does not match any outer indentation level
    W503,  # line break before binary operator
